@font-face {
  font-family: dodgv2ci;
  src: url(../fonts/dodgv2ci.ttf);
}
body {
  background-color: #000000;
}

h1 {
  font-family: dodgv2ci, Arial, sans-serif;
  font-size: 18px;
  color: lightgray;
  padding: 15px;
  margin: 0;
}

h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: lightgrey;
  margin: 0;
  padding: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  height: 100vh;
  justify-content: flex-start;
  padding: 0;
}

header {
  margin: 20px auto 0;
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 1024px) {
  header {
    justify-content: center;
  }
}
header nav {
  margin: 0;
  padding: 0;
}
header nav ul {
  list-style: none;
  display: inline-flex;
  margin: 0;
  padding: 0;
}
header nav ul a {
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  color: lightgrey;
  display: inline-block;
}
header nav ul a:hover {
  color: #CA0814;
  transition: 0.6s;
  text-decoration: none;
}
@media only screen and (max-width: 1024px) {
  header nav ul {
    display: none;
  }
}
header .logo img {
  width: 225px;
  height: auto;
  margin: 20px;
}
@media only screen and (max-width: 420px) {
  header .logo img {
    width: 150px;
  }
}

.sidenav {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  margin-top: 140px;
}
.sidenav a {
  padding: 10px 0 10px 30px;
  text-decoration: none;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  color: lightgrey;
  display: block;
  border-bottom: 1px solid #ffffff;
}
.sidenav a i {
  width: 30px;
  padding-right: 20px;
}

.sidenavopen {
  display: block;
}

.trigger {
  position: absolute;
  top: 66px;
  right: 20px;
  border: 1px solid #ffffff;
  border-radius: 0%;
  z-index: 2;
}
@media only screen and (min-width: 1023px) {
  .trigger {
    display: none;
  }
}
.trigger .bars {
  width: 35px;
  cursor: pointer;
}
@media only screen and (max-width: 420px) {
  .trigger .bars {
    width: 25px !important;
  }
}
.trigger .bars .line {
  fill: none;
  stroke: #fff;
  stroke-width: 4;
  stroke-linecap: square;
  transition: stroke-dasharray 400ms, stroke-dashoffset 1s;
}
.trigger .bars .line.top {
  stroke-dasharray: 40 172;
}
.trigger .bars .line.middle {
  stroke-dasharray: 40 111;
}
.trigger .bars .line.bottom {
  stroke-dasharray: 40 172;
}
.trigger .bars.active .top {
  stroke-dashoffset: -132px;
}
.trigger .bars.active .middle {
  stroke-dashoffset: -71px;
}
.trigger .bars.active .bottom {
  stroke-dashoffset: -132px;
}

footer {
  padding: 40px;
  margin: auto 0;
  text-align: center;
  background-color: grey;
}