// Fonts
@font-face {
    font-family: dodgv2ci;
    src: url(../fonts/dodgv2ci.ttf);
}

// Variables
$brand-colour-primary: #CC0001;
$brand-colour-secondary: #1E1F1C;
$brand-font: Helvetica, Arial, sans-serif;
$brand-logo-font: dodgv2ci, Arial, sans-serif;

// Mixins
@mixin flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

// Styles
body {
    background-color: #000000;
}

h1 {
    font-family: $brand-logo-font;
    font-size: 18px;
    color: lightgray;
    padding: 15px;
    margin: 0;
}

h2 {
    font-family: $brand-font;
    font-size: 16px;
    color: lightgrey;
    margin: 0;
    padding: 8px;
}

.container {
    @include flex-col;
    max-width: 1600px;
    height: 100vh;
    justify-content: flex-start;
    padding: 0;
}

// .banner {
//     width: 100%;
//     min-width: 100vw;
//     min-height: 40vh;
//     max-height: 40vh;
//     background-image: url(../images/nissan_370z.jpg);
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center;
//     display: block;
// }

// Header

header {

    margin: 20px auto 0;
    width: 90vw;
    @include flex-row();
    justify-content: space-between;

    @media only screen and (max-width: 1024px) {
    justify-content: center;
    }

    nav {

        margin: 0;
        padding: 0;

        ul {
        list-style: none;
        display: inline-flex;
        margin: 0;
        padding: 0;

        a {
        padding: 10px;
        text-decoration: none;
        font-size: 16px;
        font-family: $brand-font;
        color: lightgrey;
        display: inline-block;

        &:hover {
            color: $brand-colour-primary;
            transition: 0.6s;
            text-decoration: none;
            }
        }

        @media only screen and (max-width: 1024px) {
        display: none;
        }

        }
    }

    .logo {
        img {
            width: 225px;
            height: auto;
            margin: 20px;

            @media only screen and (max-width: 420px) {
                width: 150px;
            }

        }
    }
}

// Side Nav
.sidenav {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    margin-top: 140px;
    

    a {
        padding: 10px 0 10px 30px;
        text-decoration: none;
        font-size: 14px;
        font-family: $brand-font;
        color: lightgrey;
        display: block;
        border-bottom: 1px solid #ffffff;

        i {
            width: 30px;
            padding-right: 20px;
        }
    }
}

.sidenavopen {
    display: block;
}

// Mobile nav trigger button
.trigger {
    position: absolute;
    top: 42px;
    right: 40px;
    border: 1px solid #ffffff;
    border-radius: 0%;
    z-index: 2;
        
    @media only screen and (max-width: 500px) {
    right: 20px;
    }

    @media only screen and (min-width: 1023px) {
    display: none;
    }

    .bars {
      width: 35px;
      cursor: pointer;

        @media only screen and (max-width: 420px) {
        width: 25px !important;

    }

    }
    .bars .line {
      fill: none;
      stroke: #fff;
      stroke-width: 4;
      stroke-linecap: square;
      transition: stroke-dasharray 400ms,  stroke-dashoffset 1s;
    }
    .bars .line.top {
      stroke-dasharray: 40 172;
    }
    .bars .line.middle {
      stroke-dasharray: 40 111;
    }
    .bars .line.bottom {
      stroke-dasharray: 40 172;
    }
    .bars.active .top {
      stroke-dashoffset: -132px;
    }
    .bars.active .middle {
      stroke-dashoffset: -71px;
    }
    .bars.active .bottom {
      stroke-dashoffset: -132px;
    }
}

// Footer

footer {
    padding: 40px;
    margin: auto 0;
    text-align: center;
    background-color: grey;
}